/* Estilos generales a toda la pagina */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'ubuntu', 'Times New Roman', Times, serif;
}

:root{
    --color-amarillo: #FCD200;
    --color-marron: #512a0c;
    --color-marron-disabled: rgba(192, 131, 85, 0.397);
    --color-negro: black;
    --color-blanco: white;
    --color-marron-hover: #6d3810;
    --color-social-hover: grey;
    --color-rojo-oculto: red;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.container-body{
    display: grid;
    grid-template-areas:    
    "header"
    "main"
    "footer";
    
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 40px;
    
    background-color: var(--color-amarillo);
    min-height: 100vh;
}

/* Estilos del Header */
#header-content{
    grid-area: header;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--color-amarillo);
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4%; 
    height: 60px;
    border-bottom: var(--color-negro) 1px solid;
}

.abrir-menu-hamburguesa,
.cerrar-menu-hamburguesa{
    display: none;
}

.nav-bar{
    width: 100%; 
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 2em;
    align-items: center;
    height: 60px;
    margin: 0;
}

.nav-bar a{
    text-decoration: none;
    color: var(--color-negro);
    padding: 5px;
}

.nav-bar a:hover{
    background-color: var(--color-marron);
    border-radius: 8px;
    color: var(--color-blanco);
}

/* Estilos del Footer */
#footer-content{
    grid-area: footer;
}

.footer{
    font-size: 2em;
    font-weight: 100;
    background-color: var(--color-marron);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 40px;
    position:fixed;
    bottom: 0;
    color: var(--color-blanco);
}

.footer p{
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
}

/* Estilos pagina principal "index" */
.container-main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    /* height: 85vh; */
}

#container-jirafa{
    display: flex;
    overflow:hidden;
    align-items: center;
    justify-content: center;    
    padding: 2rem 5rem;
}

#img-jirafa{
    object-fit: cover;
    width: 100%;
   /*  animation: aparecerImagen 2s linear 0s; */
    animation: fadeIn 2s ease;
}

#container-menu{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0 5rem;
    margin-top: 2rem;
}

#container-menu h3{
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    
}

#container-menu h1{
    margin: 0; 
    padding: 0; 
    font-size: 12em;
    animation: aparecerMenu 2s cubic-bezier(0.6, -5, 0.1, 2);
}

#container-menu h1 a{
    color: var(--color-blanco);
    text-decoration: none;
}

#container-menu h1 a:active{
    color: var(--color-blanco);
}

#container-menu h1 a:hover{
    text-shadow: 2px 2px 3px rgba(97, 60, 4, 0.5);
}

/* Estilos generales de los formularios */
.container-contact-form, 
.container-menu-form{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

#contact-form,
#menu-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: 0 2px 5px var(--color-negro);
    font-size: 1.5em;
    padding: 2rem;
    max-width: 500px;
    margin: 0 15px;
    border-radius: 8px;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 8px;
  margin: 0;
  border-radius: 8px;
}

.btn-input{
    height: 30px;
    font-size: 100%;
}

.buttons{
    display: flex;
    gap: 20px;
    width: 100%;
}

.buttons input{
    background-color: var(--color-marron);
    border-color: var(--color-marron);
    padding: 10px;
    font-size: 1em;
    height: 100%;
    color: var(--color-blanco);
    border-radius: 8px;
}

.buttons input:hover{
    background-color: var(--color-marron-hover);
    border-color: var(--color-marron-hover);
}

#generar:disabled,
#resetear:disabled,
#enviar-contacto:disabled {
    background-color: var(--color-marron-disabled);
    color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
}

/* Estilos únicos formulario "contacto" */
#contact-form label, 
#contact-form fieldset{
    width: 100%;
    border: none;
}

#contact-form fieldset{
    display: flex;
    flex-direction: column;
}


/* Estilos únicos formulario "menú" */
#menu-form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
}

#menu-form fieldset small{
    margin-top: 0.5rem;
    align-self: center;
}

.menu-form-cantidades{
    display: flex;
    gap: 2rem;
}

.container-menu-form h1{
    margin: 0 15px;
    text-align: center;
}

#texto-oculto{
    display: none;
    color: var(--color-rojo-oculto);
}

.devolucion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

#devuelve-menu {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items:flex-start;
     padding: 0 2em;
}

/* Estilos de la página de staff */
.container-staff-cards {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--color-amarillo);
    gap: 2rem;
}

.container-staff-cards h1{
    text-align: center;
}

.staff-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-amarillo);
    gap: 2rem;
}
  
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 400px;
    text-align: center;
    background-color: var(--color-marron);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--color-blanco);
}
  
.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-detail{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    padding: 3px;
}

.card-detail h2{
    font-size: 2em;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5em;
}

.social i:hover {
    cursor: pointer;
    color: var(--color-social-hover);
}

/* .devolucion{
    display: none;
    text-align: center; 
} */

/* ----------------------- */
/* SECTOR DE MEDIA QUERIES */
/* ----------------------- */

/* --- INICIO Zona de BREAK POINTS --- */
@media screen and (max-width: 320px) {
    #contact-form{
       max-width: 280px;
       gap: 0;
    }

    #contact-form .buttons,
    #menu-form .buttons{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 480px) {
    /* Corresponde solo al botón hamburguesa */
    .abrir-menu-hamburguesa,
    .cerrar-menu-hamburguesa{
        display: block;
        border: 0;
        font-size: 4rem;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-blanco);
    }

    .header{
       background-color: var(--color-marron);
    }
    
    .nav-bar{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(81, 42, 12, 1);
        gap: 1rem;
    }
    
    .nav-bar.visible{
        opacity: 1;
        visibility: visible;
        background-color: var(--color-marron);
    }

    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .nav-bar a{
        color: var(--color-blanco);
    }

    .nav-bar a:hover{
        background-color: var(--color-amarillo);
    }

    .footer{
        background-color: var(--color-amarillo);
        color: var(--color-negro);
    }
}

@media screen and (max-width: 768px){
    .card {
        margin: 0 2rem;
    }

    .nav-bar ul{
        font-size: 1.8em;

    }
}

@media screen and (max-width: 1200px){
    /* Ver si la utilizamos */
}
/* --- FIN Zona de BREAK POINTS --- */


/* Cambios pequeños al reducir pantalla */
@media screen and (min-width: 551px) {
    .nav-bar.visible{
        visibility:hidden; 
    }
}


@media screen and (max-width: 550px) {
    .menu-form-cantidades{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 620px){
    .nav-bar ul li a i{
        display: none;
    }
}
   

/* Animación de imagen principal */
@keyframes aparecerImagen {
    from {
        transform: translateY(-110vh);
    }
    to {
        transform: translateY(0);
    };
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }

    10% {
        opacity: 1;
        filter: grayscale(60%) blur(7px) ;
    }
}

/* Animación del título Menú */
@keyframes aparecerMenu {
    from {
        transform: translateX(110vw);
    }
    to {
        transform: translateX(0);
    };
}